nav{
    height: 70px;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid transparent;

        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 8px;
    border-radius: 50%;
    border-top: 8px solid #0091EA;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.navbar-collapse{
    padding: 10px;
}

.nav-logo{
    height: 16px;
}

.navbar-brand{
    padding: 25px;
}

.nav li.active .active-menu{
    color: #003ebb;
    background-color: transparent;
}

.navbar-nav{
    font-size: 16px;
}

.navbar-default{
    background-color: white;
    border-color: white;
    box-shadow: 0px 0px 10px #cecece;
    border-radius: 0px;
}

.navbar-nav .dropdown-menu li{
    border-bottom: 1px solid #d8d8d8;
}

#nav-dropdown{
    padding: 0px;
    /* width: 160px; */
}

.navbar-nav .dropdown-menu li>a{
    padding: 10px;
}

.navbar-nav a:hover, .navbar-nav .active > a:hover{
    background-color: transparent !important;
    color: #003ebb !important;

}

.navbar-nav .dropdown-menu li:last-child{
    border-bottom: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.material-icons{
    vertical-align: middle;
}

.container-fluid{
    padding: 0px 5%;
}

.btn-primary{
    height: 38px !important;
    border-radius: 2px !important;
    background-color: #003ebb;
}

.btn-primary:hover{
    background-color: #003ebb;
}

.text-input, select{
    height: 42.9px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b1b1b1;
    padding : 0px 10px;
}


tbody tr{
    border-bottom: 1px solid #d6d6d6;
}

tbody tr:last-child{
    border-bottom: none;
}


.modal-backdrop {
    background-color: #ffffff;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(197, 197, 197, 0.5);
    border: none;
    padding: 0px 25px;
}

.modal-header{
        border-bottom: none;
    padding-top: 25px;
}

.modal-title{
    color: #003ebb;
}


.modal-header .close{
    margin-top: -6px;
    font-size: 28px;
    color: red;
}

label{
    display: block;
}

label{
    color: #555555;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    display: none;
}

.inline-label{
    display: inline !important;
}

.checkbox label, .radio label{
    padding-left: 0px;
}

.green{
    color: #00bb56 !important;
}

.red{
    color: red;
}

.blue-text{
    color: #003ebb;
}

.checkbox_selected{
    color: #04BB56 !important;
}

.checkbox_unselected{
    color: #919191 !important;
}

.p-lr-zero{
    padding-left: 0px;
    padding-right: 0px;
}

/* width */
/* ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #003ebb;
    border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

span{
    font-size:15px;
}
a{
  text-decoration:none;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  /* border-bottom:2px solid #0062cc; */
}

a:hover{
  color: #4183D7;
  text-decoration:none;
  cursor: pointer;

}
.box{
    padding:60px 0px;
}

.box-part{
    background:#e4e4e4c7;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.p-lr-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}